@charset "utf-8";

@media (min-width: 768px) {
  html {
    font-size: 17.5px;
  }
  .block {
    display: block;
  }
  /* .inline-block {
    display: inline-block;
  } */
  .main-vision .vision .vision-icon img {
    margin-right: 50px;
  }
  .main-rental .rental h5 {
    width: 90px;
    padding: 10px;
  }
  .main-rental .rental h3 {
    font-size: var(--font-size-24);
  }
  .main-rental .rental p {
    font-size: var(--font-size-18);
  }
  .main-rental .rental .rental-box1 {
    height: 120vh;
    padding: 70px 50px 0 50px;
  }
  .main-rental .rental .rental-box2 {
    height: 35vh;
    padding: 50px 50px 0 50px;
  }
  .main-rental .rental .rental-box3 {
    padding: 50px 50px 0 50px;
  }
  footer .footer-info {
    font-size: var(--font-size-15);
  }
  footer .footer-info h2 {
    font-size: var(--font-size-24);
  }
}
