@charset "utf-8";
/***** common *****/
.mySwiper1 {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  margin: 0 0 70px 0;
}
.txt_Box {
  width: 100%;
  color: #ffffff;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--kr-font);
  box-sizing: border-box;
}
.txt_Box h2 {
  /* padding-bottom: 200px; */
  font-size: var(--font-size-39);
  font-weight: bold;
  text-align: center;
  margin: 70px 0;
}
.txt_Box p {
  font-size: var(--font-size-14);
}
.slide01 {
  background: url(./images/main_bg01.png) no-repeat 50% / cover;
}
.slide02 {
  background: url(./images/main_bg02.png) no-repeat 50% / cover;
}
.slide03 {
  background: url(./images/main_bg03.png) no-repeat 50% / cover;
}
.mySwiper1 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  display: none;
}
.swiper-pagination-bullet {
  background-color: #ffffff;
  opacity: 1;
  width: 10px;
  height: 10px;
}
.swiper-pagination-bullet-active {
  background-color: var(--point-color);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: auto;
  bottom: 30px;
}
body {
  font-family: var(--kr-txt-font);
  color: var(--txt-color);
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
  background-color: #f5f6f7;
}
body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}
/* 모바일 */
.flex {
  display: flex;
}
.block {
  display: inline-block;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
.inline-block {
  display: inline-block;
}
html {
  word-break: keep-all;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

.main-title h5 {
  color: var(--point-color);
  font-family: var(--kr-font);
  font-weight: 700;
  padding-bottom: 30px;
  font-size: var(--font-size-16);
}
.main-title h3 {
  font-family: var(--kr-font);
  font-size: var(--font-size-39);
  font-weight: 700;
  padding-bottom: 50px;
  line-height: 1.2;
  letter-spacing: -2.5px;
}
/***** 모바일 *****/
/***** header *****/
header {
  /* width: 100%; */
  justify-content: center;
  border-bottom: 1.5px solid #ddd;
}
header .header-wrapper {
  width: 95%;
  justify-content: space-between;
  align-items: center;
  /* background-color: violet; */
  padding: 25px 0;
}

header .header-wrapper h1 img {
  width: 200px;
}
header .header-wrapper nav {
  position: relative;
}
header .header-wrapper .global-nav li {
  display: none;
  position: relative;
}
header .header-wrapper .global-nav .translation_btn {
  display: inherit;
  background: url(./images/translation.png) no-repeat 50% / cover;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 30px;
}

input[id="hamburger"] {
  display: none;
}

input[id="hamburger"] + label {
  display: block;
  width: 22px;
  height: 20px;
  position: relative;
  cursor: pointer;
}

input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background: #000;
  transition: all 0.5s;
}

input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}

input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}

input[id="hamburger"]:checked + label {
  z-index: 99;
}

input[id="hamburger"]:checked + label span {
  background: black;
}

input[id="hamburger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}

input[id="hamburger"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

div[class="sidebar"] {
  width: 100%;
  height: 50%;
  background: #ffff;
  position: fixed;
  top: 83.5px;
  right: -100%;
  z-index: 98;
  transition: all 0.5s;
}

input[id="hamburger"]:checked + label + div {
  left: 0;
}

.nav_mobile {
  position: absolute;
  top: 0;
  /* left: 30px; */
  width: 100%;
}

.sidebar .nav_mobile li {
  font-family: var(--en-font);
  text-transform: uppercase;
  color: #000;
  position: relative;
  width: 97%;
  margin: 10px auto;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}
/*** contents ***/
/***** main-innovation *****/
.main-innovation {
  padding: 70px 15px 70px;
}
.main-innovation section h2 {
  font-family: var(--en-font);
  font-size: var(--font-size-53);
  font-weight: 600;
  letter-spacing: -3.5px;
  line-height: 1.1;
}
.main-innovation section h3 {
  font-family: var(--kr-font);
  font-size: var(--font-size-19);
  font-weight: 500;
  padding-top: 20px;
  letter-spacing: -2px;
}
.flex {
  display: flex;
}

/***** main-slide *****/

/***** main-attention *****/
.main-attention {
  padding: 90px 15px;
}
.main-attention .attention .main-title {
  letter-spacing: -2px;
  padding-bottom: 20px;
}
.main-attention .attention .attention-img h5 {
  color: var(--point-color);
  font-size: var(--font-size-14);
  font-family: var(--en-font);
  font-weight: 600;
  padding-bottom: 10px;
}
.main-attention .attention .attention-img h3 {
  color: #fff;
  font-family: var(--kr-font);
  font-weight: 700;
  font-size: var(--font-size-31);
  padding-bottom: 15px;
}
.main-attention .attention .attention-img p {
  color: #fff;
  font-family: var(--kr-font);
  font-size: var(--font-size-14);
  padding-bottom: 70px;
  line-height: 1.6;
}
.main-attention .attention .attention-img .attention-box1 {
  background: #68b984 url(./images/attention_bg.png) no-repeat 50% / contain;
  color: #fff;
  text-align: center;
  padding: 40px 0 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.main-attention .attention .attention-img .attention-box1 img {
  width: 45vw;
}
.main-attention .attention .attention-img .attention-box1 h5 {
  font-size: var(--font-size-15);
  font-family: var(--en-font);
  font-weight: 600;
  color: #fff;
  padding: 0;
}
.main-attention .attention .attention-img .attention-box1 h3 {
  font-family: var(--kr-font);
  font-size: var(--font-size-31);
  font-weight: 700;
  padding: 10px 10px 40px;
}
.main-attention .attention .attention-img .attention-box1 p {
  font-family: var(--kr-font);
  padding: 30px 10px 20px;
  font-weight: 500;
}
.main-attention .attention .attention-img .attention-box2 {
  background: url(./images/attention02.png) no-repeat 50% / cover;
  padding: 30px 20px 50px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.main-attention .attention .attention-img .attention-box2 h3 {
  padding-right: 150px;
}
.main-attention .attention .attention-img .attention-box3 {
  background: url(./images/attention03.png) no-repeat 50% / cover;
  padding: 30px 20px 50px;
  border-radius: 15px;
  margin-bottom: 20px;
}

/***** main-vision *****/
.main-vision {
  padding: 30px 15px 70px;
}
.main-vision .vision .vision-img h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-vision .vision .vision-img h3 img {
  width: 70vw;
}
.main-vision .vision .vision-img h3:nth-child(2) img {
  display: none;
}
.main-vision .vision .vision-img h3:nth-child(3) img {
  display: none;
}
.main-vision .vision .vision-img h3:nth-child(4) img {
  display: none;
}
.main-vision .vision .vision-img h5 {
  font-family: var(--en-font);
  color: var(--point-color);
  font-size: var(--font-size-31);
  font-weight: 700;
  padding: 40px 0 20px 0;
}
.main-vision .vision .vision-icon {
  display: flex;
  align-items: center;
  padding: 10px 5px 0 0;
}
.main-vision .vision .vision-icon strong {
  color: #000;
  line-height: 1.7;
  font-size: var(--font-size-15);
}
.main-vision .vision .vision-icon p {
  font-family: var(--kr-font);
  color: #777;
  font-size: var(--font-size-14);
}
.main-vision .vision .vision-icon img {
  width: 50px;
  margin-right: 10px;
}
.main-vision .vision .vision-list {
  display: none;
}
/***** main-rental *****/
.main-rental {
  padding: 20px 0 15px 15px;
}
.main-rental .main-title {
  padding-right: 15px;
}
.main-rental .rental {
  color: #fff;
  font-family: var(--kr-font);
}
.main-rental .rental .rental-box1 {
  background: url(./images/rental01.png) no-repeat 60% / cover;
  padding: 30px 30px 220px;
  border-radius: 15px;
  margin: 0 20px 30px 0;
  letter-spacing: 0.5px;
  line-height: 1.5;
}
.main-rental .rental .rental-box1:hover {
  background: url(./images/vision02.png);
}
.main-rental .rental .rental-box1 h3 {
  font-size: var(--font-size-31);
  font-weight: 700;
}
.main-rental .rental h5 {
  background-color: var(--point-color);
  border-radius: 25px;
  font-size: var(--font-size-13);
  width: 80px;
  text-align: center;
  padding: 5px 15px;
  font-weight: 700;
}
.main-rental .rental h3 {
  font-size: var(--font-size-17);
  padding: 15px 0 20px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: -0.5px;
}
.main-rental .rental p {
  font-size: var(--font-size-13);
  letter-spacing: -0.5px;
}
.main-rental .rental .rental-box2 {
  background: url(./images/rental02.png) no-repeat 50% / cover;
  border-radius: 15px;
  width: 85%;
  padding: 30px 30px 0;
  margin-right: 25px;
  flex-shrink: 0;
}
.main-rental .rental .rental-box3 {
  background: url(./images/rental03.png) no-repeat 50% / cover;
  border-radius: 15px;
  width: 85%;
  padding: 30px 30px 70px;
  flex-shrink: 0;
  margin-right: 20px;
}
.main-rental .rental .rental-box3 h5 {
  background-color: #006cbb;
}
.main-rental .rental .rental-box4 {
  background: url(./images/rental04.png) no-repeat 50% / cover;
  border-radius: 15px;
  width: 85%;
  padding: 30px 30px 70px;
  flex-shrink: 0;
  margin-right: 20px;
  display: none;
}
.main-rental .rental .rental-mini {
  display: flex;
  overflow: hidden;
  padding: 20px 0 100px 0;
}

/***** footer *****/
footer {
  background-color: #000;
  color: #777;
  font-family: var(--kr-font);
  padding: 50px 0 80px;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-13);
  text-align: center;
}
footer .footer-info h2 {
  font-size: var(--font-size-20);
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  padding: 15px 20px;
  /* background: linear-gradient(90deg, #3c8e58, #68b984, #ddd, #3c8e58, #68b984);
  background-clip: "text";
  -webkit-background-clip: text;
  background-position-x: 0;
  background-size: 200%;
  color: transparent;
  animation: gradient 5s ease-in-out infinite; */
}
footer .footer-info h2 a {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}
footer .footer-info h2 a:hover {
  color: #fff;
}
footer .footer-info .footer-info-list {
  line-height: 1.6;
}
