@charset "utf-8";
/* 다은아!!! project 해라!!!! */
/* 다은아!!!!!!!!!!! 메뉴클릭시 부드럽게 넘어가기 해라 */
/* 오픈그래프 다시 해 이미지 !! */
/* 프로젝트에 들어갈 이미지 !! (프로젝트1,준비중입니다) */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: var(--point-color);
}
.menu {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  color: var(--point-color);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  padding: 80px 0;
  width: fit-content;
}

.txt h3 {
  font-size: var(--font-size-34);
  font-family: var(--kr-font);
  line-height: 1.8;
  word-spacing: -3px;
}
.about,
.project,
.skills,
.contact,
.time,
.sns {
  opacity: 0;
}

/***** header *****/
header {
  width: 100%;
  font-weight: bold;
  padding: 30px 50px;
  color: var(--point-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}
header .header-wrapper {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-30);
  font-style: italic;
  background-color: rgba(32, 38, 46, 0.5);
  transition: 0.5s;
  padding: 10px 0;
  border-radius: 10px;
  word-spacing: -3px;
}
header .header-wrapper:hover {
  background-color: var(--point-color);
  border-radius: 0;
  color: var(--txt-color);
}
header .header-wrapper .side a {
  border-radius: 10px;
  padding: 10px 30px;
}
header .header-wrapper .side a:hover {
  background-color: #222;
}
header .global-nav {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-26);
  text-transform: uppercase;
  background-color: rgba(32, 38, 46, 0.5);
  border-radius: 10px;
  display: flex;
}
header .global-nav .side1:hover,
header .global-nav .side2:hover,
header .global-nav .side3:hover,
header .global-nav .side4:hover {
  background-color: var(--point-color);
  color: var(--txt-color);
}
header .global-nav li a {
  padding: 10px 30px;
  display: block;
  transition: 0.3s;
}
header .global-nav li a:hover {
  background-color: #222;
  border-radius: 7px;
  color: var(--txt-color);
}

/***** contents *****/
/*** main-title ***/
.main-title {
  width: 100%;
  background-color: var(--bg-color);
  font-weight: bold;
  position: relative;
  /* overflow: hidden; */
}
.main-title .upTo {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #222;
  z-index: 99;
  transition: 0.4s;
}
.main-title .upTo:hover {
  transform: translateY(-10%);
}
.main-title .upTo .btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-title .upTo img {
  width: 25px;
  height: 25px;
}
.main-title .main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-title .main .main_slide {
  font-family: var(--en-txt-font);
  color: var(--point-color);
  /* font-size: var(--font-size-380); */
  font-size: 360px;
  font-style: italic;
  display: flex;
  overflow: hidden;
  gap: 10vw;
}
.main-title .main .main_slide img {
  width: 690px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.main-title .main .main_slide h1 {
  flex-shrink: 0;
  animation: slide 10s linear infinite;
  letter-spacing: -5px;
}
.main-title .main .suv_title {
  width: 100%;
  font-family: var(--en-menu-font);
  color: var(--txt-color);
  font-style: italic;
  font-size: var(--font-size-20);
  padding: 0 80px 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.main-title .main .suv_title h3:last-child {
  text-align: right;
}

/*** main-about ***/
.main-about {
  font-family: var(--kr-font);
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-about .about {
  padding: 50px 80px;
}
.main-about .about .menu {
  display: flex;
  justify-content: flex-end;
}
.main-about .about .txt {
  padding-top: 30px;
}
.main-about .about .txt p {
  font-size: var(--font-size-26);
}
.main-about .about .img_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 70px 0;
  position: relative;
}
.main-about .about .img_box h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--font-size-34);
}
.main-about .about .img_box .plus {
  width: 40px;
  height: 40px;
  margin-top: 58px;
}
.main-about .about .img_box .img_01 {
  padding: 0 35px 0 0;
}
.main-about .about .img_box .img_02 {
  padding: 0 35px 0 35px;
}
.main-about .about .img_box .img_03 {
  padding: 0 0 0 35px;
}
.main-about .about .img_box .img_01 img {
  width: 250px;
  height: 250px;
  background: url(./images/about_01.png) no-repeat 50% / 102px;
}
.main-about .about .img_box .img_02 img {
  width: 250px;
  height: 250px;
  background: url(./images/about_02.png) no-repeat 50% / 100px;
}
.main-about .about .img_box .img_03 img {
  width: 250px;
  height: 250px;
  background: url(./images/about_03.png) no-repeat 50% / 140px;
}
.main-about .about .img_box img {
}
/*** main-project ***/
.main-project {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--kr-font);
  padding-bottom: 130px;
  overflow: hidden;
}
.main-project .menu {
  /* padding: 80px 0 인 상태임*/
}
.main-project .project_box {
  display: flex;
  gap: 50px;
  transform-style: preserve-3d;
  user-select: none;
  perspective: 2000px;
}
.main-project .project_box .project_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.main-project .project_box .project_img h3 {
  font-size: var(--font-size-24);
  margin-bottom: 20px;
}

.main-project .project_box .project_img h4 {
  font-size: 18px;
  letter-spacing: 1px;
}
.main-project .project_box .project_img p {
  align-self: flex-start;
  font-size: 15px;
  line-height: 1.7;
}
.main-project .project_box .project_img img {
  width: 750px;
  height: 423px;
  margin: 10px 0 30px;
}
/*** main-skills ***/
.main-skills {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-skills .skills {
  padding: 0 80px;
  height: 120vh;
}
.main-skills .skills .txt {
  width: 35%;
  float: left;
}
.main-skills .skills .txt_box {
  float: left;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
}
.main-skills .skills .txt_box li {
  display: flex;
  border-bottom: 2px solid var(--point-color);
  width: 100%;
  justify-content: space-between;
  padding: 90px 0 10px;
  transition: 0.4s;
}
.main-skills .skills .txt_box li:hover {
  background: linear-gradient(
    90deg,
    #eff0f2,
    #8b3156,
    #eff0f2,
    #cd5888
  );
  background-clip: 'text';
  -webkit-background-clip: text;
  background-position-x: 0;
  background-size: 200%;
  color: transparent;
  animation: gradient 10s ease-in-out infinite;
}
.main-skills .skills .txt_box li:nth-child(1) {
  padding: 0 0 10px;
}
.main-skills .skills .txt_box li h3 {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-44);
  transition: 0.4s;
}
.main-skills .skills .txt_box li h3:hover {
  /* transform: translateX(10px); */
}
.main-skills .skills .txt_box li p {
  font-family: var(--kr-font);
  font-size: var(--font-size-20);
}
/*** main-contact ***/
.main-contact {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-contact .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-contact .contact img {
  width: 1000px;
  margin-bottom: 10px;
}
.main-contact .contact a {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-60);
  background: linear-gradient(
    90deg,
    #8b3156,
    #cd5888,
    #eff0f2,
    #8b3156
  );
  background-clip: 'text';
  -webkit-background-clip: text; /* 웹킷 브라우저 지원을 위해 추가 */
  background-position-x: 0;
  background-size: 200%;
  color: transparent;
  animation: gradient 5s linear infinite;
}
.main-contact .contact p {
  font-family: var(--kr-font);
  font-size: var(--font-size-30);
}
/***** footer *****/
footer {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--txt-color);
  display: flex;
  justify-content: space-between;
  padding: 100px 80px;
}
footer .time {
  display: flex;
  align-items: center;
  animation: shake infinite ease-in-out;
}
footer .time img {
  width: 47px;
  height: 47px;
  margin-right: 20px;
}
footer .sns {
  text-align: right;
}
footer .sns p:nth-child(2) {
  transition: 0.5s;
}
footer .sns p:nth-child(2):hover {
  transform: translateX(-5%);
  color: var(--point-color);
}
