@charset "utf-8";

/* font-family: 'Space Mono', monospace;  */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,700&display=swap');

/* font-family: 'Noto Sans KR', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');

/* 변수 선언 */
:root {
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-26: 1.625rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-34: 2.125rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-44: 2.75rem;
  --font-size-45: 2.813rem;
  --font-size-50: 3.125rem;
  --font-size-60: 3.75rem;
  --font-size-70: 4.375rem;
  --bold-size-80: 5rem;
  --font-size-380: 23.75rem;

  --en-menu-font: 'Space Mono', monospace;
  --en-txt-font: 'Roboto', -apple-system, BlinkMacSystemFont, 'Malgun Gothic',
    '맑은 고딕', helvetica, 'Apple SD Gothic Neo', sans-serif;
  --kr-font: 'Noto Sans KR', sans-serif-apple-system, BlinkMacSystemFont,
    'Malgun Gothic', '맑은 고딕', helvetica, 'Apple SD Gothic Neo';

  --point-color: #cd5888;
  --txt-color: #eff0f2;
  --bg-color: #20262e;
}

@keyframes gradient {
  0% {
    background-position-x: 0;
  }
  25% {
    background-position-x: -100%;
  }
  50% {
    background-position-x: -200%;
  }
  75% {
    background-position-x: -300%;
  }
  100% {
    background-position-x: -400%;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-100% - 10vw));
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateY(0) rotate(-5deg);
  }

  50% {
    transform: translateY(-20px) rotate(5deg);
  }
}
