@charset "utf-8";
/* 스크롤바 */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: var(--point-color);
}
html {
  /* 부드러운 스크롤 */
  scroll-behavior: smooth;
}
.menu {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  color: var(--point-color);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  padding: 80px 0;
  width: fit-content;
}

.txt h3 {
  font-size: var(--font-size-40);
  font-family: var(--kr-font);
}

/***** header *****/
header {
  width: 100%;
  font-weight: bold;
  padding: 20px 50px;
  color: var(--point-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
}
header .header-wrapper {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-30);
  font-style: italic;
  background-color: rgba(32, 38, 46, 0.5);
  transition: 0.4s;
  padding: 10px 0;
  border-radius: 10px;
}
header .header-wrapper:hover {
  background-color: var(--point-color);
  border-radius: 0;
  color: var(--txt-color);
}
header .header-wrapper .side a {
  border-radius: 10px;
  padding: 10px 30px;
}
header .header-wrapper .side a:hover {
  background-color: #222;
}
header .global-nav {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  text-transform: uppercase;
  background-color: rgba(32, 38, 46, 0.5);
  border-radius: 10px;
  display: flex;
}
header .global-nav .side1:hover,
header .global-nav .side2:hover,
header .global-nav .side3:hover,
header .global-nav .side4:hover {
  background-color: var(--point-color);
  color: var(--txt-color);
  width: fit-content;
}
header .global-nav li a {
  padding: 10px 30px;
  display: block;
  transition: 0.4s;
}
header .global-nav li a:hover {
  background-color: #222;
  border-radius: 7px;
  color: var(--txt-color);
}

/***** contents *****/
/*** main-title ***/
.main-title {
  width: 100%;
  background-color: var(--bg-color);
  font-weight: bold;
  position: relative;
  /* overflow: hidden; */
}
.main-title .main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-title .main .main_slide {
  font-family: var(--en-txt-font);
  color: var(--point-color);
  font-size: var(--font-size-380);
  font-style: italic;
  display: flex;
  overflow: hidden;
  gap: 10vw;
}
.main-title .main .main_slide h1 {
  flex-shrink: 0;
  animation: slide 5s linear infinite;
  /* letter-spacing: -5px; */
}
/* .main-title .main .upTo {
  background-color: rgba(0, 0, 0, 0.2);
  width: 40px;
  height: 40px;
  z-index: 99;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.5rem;
  font-family: var(--kr-font);
  line-height: 40px;
  color: var(--txt-color);
  text-align: center;
  transition: 0.4s;
} */
.main-title .main .upTo {
  width: 30px;
  height: 30px;
  padding: 20px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-indent: -9999px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.main-title .main .upTo img {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 10px;
}
.main-title .main .upTo:hover {
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateY(-10%);
}
.main-title .main img {
  width: 750px;
  height: 760px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-title .main .suv_title {
  width: 100%;
  font-family: var(--en-menu-font);
  color: var(--txt-color);
  font-style: italic;
  font-size: var(--font-size-20);
  padding: 0 80px 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.main-title .main .suv_title h3:last-child {
  text-align: right;
}

/*** main-about ***/
.main-about {
  font-family: var(--kr-font);
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-about .about {
  padding: 200px 80px 120px;
}
.main-about .about .menu {
  display: flex;
  justify-content: flex-end;
}
.main-about .about .txt p {
  font-size: var(--font-size-32);
}
.main-about .about .img_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 70px 0;
  position: relative;
}
.main-about .about .img_box h3 {
  text-align: center;
  margin-bottom: 20px;
}
.main-about .about .img_box .plus {
  width: 40px;
  height: 40px;
  margin-top: 58px;
}
.main-about .about .img_box .img_01 {
  padding: 0 65px 0 0;
}
.main-about .about .img_box .img_02 {
  padding: 0 65px 0 65px;
}
.main-about .about .img_box .img_03 {
  padding: 0 0 0 65px;
}
.main-about .about .img_box .img_01 img {
  width: 280px;
  height: 280px;
  background: url(./images/about_01.png) no-repeat 50% / 102px;
}
.main-about .about .img_box .img_02 img {
  width: 280px;
  height: 280px;
  background: url(./images/about_02.png) no-repeat 50% / 100px;
}
.main-about .about .img_box .img_03 img {
  width: 280px;
  height: 280px;
  background: url(./images/about_03.png) no-repeat 50% / 140px;
}
.main-about .about .img_box h3 {
  font-size: var(--font-size-40);
  font-weight: 500;
}
.main-about .about .img_box img {
}
/*** main-project ***/
.main-project {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--kr-font);
  padding-bottom: 130px;
  overflow: hidden;
}
.main-project .menu {
  /* padding: 80px 0 인 상태임*/
}
.main-project .project_box {
  display: flex;
  gap: 50px;
  transform-style: preserve-3d;
  user-select: none;
  perspective: 2000px;
}
.main-project .project_box .project_img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.main-project .project_box .project_img h3 {
  font-size: var(--font-size-24);
  margin-bottom: 20px;
}

.main-project .project_box .project_img h4 {
  font-size: 18px;
}
.main-project .project_box .project_img p {
  align-self: flex-start;
  font-size: 15px;
  font-weight: bold;
}
.main-project .project_box .project_img img {
  width: 750px;
  height: 423px;
  margin-bottom: 30px;
}
/*** main-skills ***/
.main-skills {
  background-color: var(--bg-color);
  color: var(--txt-color);
  /* height: 500px; */
}
.main-skills .skills {
  padding: 0 80px;
  height: 110vh;
}
.main-skills .skills .txt {
  width: 35%;
  float: left;
}
.main-skills .skills .txt_box {
  float: left;
  width: 65%;
  display: flex;
  flex-flow: row wrap;
}
.main-skills .skills .txt_box li {
  display: flex;
  border-bottom: 2px solid var(--point-color);
  width: 100%;
  justify-content: space-between;
  padding: 90px 0 30px;
}
.main-skills .skills .txt_box li:nth-child(1) {
  padding: 0 0 30px;
}
.main-skills .skills .txt_box li h3 {
  font-family: var(--en-txt-font);
  font-weight: 500;
  font-size: var(--font-size-50);
}
.main-skills .skills .txt_box li p {
  font-family: var(--kr-font);
  font-size: var(--font-size-20);
}
/*** main-contact ***/
.main-contact {
  background-color: var(--bg-color);
  color: var(--txt-color);
  text-align: center;
}
.main-contact .contact {
}
.main-contact .contact img {
  width: 1447px;
  /* animation: shadow 1s infinite; */
  transition: 0.4s;
}
.main-contact .contact img:hover {
  /* animation: shadow 0.8s; */
}
.main-contact .contact a {
  font-family: var(--en-txt-font);
  font-size: var(--bold-size-80);
  font-weight: 500;
}
.main-contact .contact a:hover {
  background: linear-gradient(90deg, #fdfdfd, #cd5888, #fdfdfd, #cd5888);
  background-clip: 'text';
  -webkit-background-clip: text; /* 웹킷 브라우저 지원을 위해 추가 */
  background-position-x: 0;
  background-size: 200%;
  color: transparent;
  animation: gradient 7s ease-in-out infinite;
}
.main-contact .contact p {
  font-family: var(--kr-font);
  font-size: var(--font-size-36);
}
/***** footer *****/
footer {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--txt-color);
  display: flex;
  justify-content: space-between;
  padding: 100px 80px;
}
footer .time img {
  width: 47px;
  height: 47px;
  margin-right: 12px;
  float: left;
}
footer .time {
  display: flex;
  align-items: center;
}
footer .sns {
  text-align: right;
}
footer .sns p:nth-child(2) {
  transition: 0.4s;
}
footer .sns p:nth-child(2):hover {
  transform: translateX(5%);
  color: var(--point-color);
}
