@charset "utf-8";
/***** common *****/
body {
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
}

body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: var(--point-color);
}

.menu {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  color: var(--point-color);
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  padding: 80px 0;
  width: fit-content;
  user-select: none;
}

.txt h3 {
  font-size: var(--font-size-34);
  font-family: var(--kr-font);
  line-height: 1.8;
  word-spacing: -3px;
}
img {
  user-select: none;
}
.flex {
  display: flex;
}
/***** header *****/
header {
  width: 100%;
  font-weight: bold;
  padding: 30px 50px;
  color: var(--point-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  user-select: none;
}
header .header-wrapper {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-30);
  font-style: italic;
  background-color: rgba(32, 38, 46, 0.5);
  transition: 0.5s;
  padding: 10px 0;
  border-radius: 10px;
  word-spacing: -3px;
}
header .header-wrapper:hover {
  background-color: var(--point-color);
  border-radius: 0;
  color: var(--txt-color);
}
header .header-wrapper .side a {
  border-radius: 10px;
  padding: 10px 30px;
}
header .header-wrapper .side a:hover {
  background-color: #222;
}
header .global-nav {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-26);
  text-transform: uppercase;
  background-color: rgba(32, 38, 46, 0.5);
  border-radius: 10px;
}
header .global-nav .side1:hover,
header .global-nav .side2:hover,
header .global-nav .side3:hover,
header .global-nav .side4:hover {
  background-color: var(--point-color);
  color: var(--txt-color);
}
header .global-nav li a {
  padding: 10px 30px;
  display: block;
  transition: 0.3s;
}
header .global-nav li a:hover {
  background-color: #222;
  border-radius: 7px;
  color: var(--txt-color);
}

/***** contents *****/
/*** main-title ***/
.main-title {
  width: 100%;
  background-color: var(--bg-color);
  font-weight: bold;
  position: relative;
  user-select: none;
}
.main-title .upTo {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #222;
  z-index: 99;
  transition: 0.4s;
}
.main-title .upTo:hover {
  transform: translateY(-30%);
}
.main-title .upTo .button {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.main-title .upTo img {
  width: 25px;
  height: 25px;
}
.main-title .main {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-title .main .main_slide {
  font-family: var(--en-txt-font);
  color: var(--point-color);
  font-size: var(--font-size-360);
  font-style: italic;
  overflow: hidden;
  gap: 10vw;
}
.main-title .main .main_slide h1 {
  flex-shrink: 0;
  animation: slide 10s linear infinite;
  letter-spacing: -5px;
  position: relative;
  top: -40px;
}
.main-title .main .main_slide img {
  width: 690px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main-title .main .suv_title {
  width: 100%;
  font-family: var(--en-menu-font);
  color: var(--txt-color);
  font-style: italic;
  font-size: var(--font-size-20);
  padding: 0 80px 50px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
}
.main-title .main .suv_title h3 {
  -webkit-user-select: text;
  user-select: text;
}
.main-title .main .suv_title h3:last-child {
  text-align: right;
}

/*** main-about ***/
.main-about {
  font-family: var(--kr-font);
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-about .about {
  padding: 50px 80px;
}
.main-about .about .menu {
  justify-content: flex-end;
}
.main-about .about .txt {
  padding-top: 30px;
}
.main-about .about .txt p {
  font-size: var(--font-size-26);
}
.main-about .about .img_box {
  justify-content: flex-end;
  align-items: center;
  margin: 70px 0;
  position: relative;
}
.main-about .about .img_box h3 {
  text-align: center;
  margin-bottom: 10px;
  font-size: var(--font-size-34);
}
.main-about .about .img_box .plus {
  width: 40px;
  height: 40px;
  margin-top: 58px;
}
.main-about .about .img_box .img_01 {
  padding: 0 35px 0 0;
}
.main-about .about .img_box .img_02 {
  padding: 0 35px 0 35px;
}
.main-about .about .img_box .img_03 {
  padding: 0 0 0 35px;
}
.main-about .about .img_box .img_01 img {
  width: 250px;
  height: 250px;
  background: url(./images/about_01.png) no-repeat 50% / 102px;
}
.main-about .about .img_box .img_02 img {
  width: 250px;
  height: 250px;
  background: url(./images/about_02.png) no-repeat 50% / 100px;
}
.main-about .about .img_box .img_03 img {
  width: 250px;
  height: 250px;
  background: url(./images/about_03.png) no-repeat 50% / 140px;
}

/*** main-project ***/
.project_part {
  position: relative;
  height: 800px;
  width: 100%;
  font-family: var(--kr-font);
  background-color: var(--bg-color);
}
.project_part .main-project {
  overflow: hidden;
  padding: 120px 0;
}
.project_part .main-project .mixing {
  color: var(--point-color);
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 80px;
  width: fit-content;
}
.project_part .main-project .project {
  perspective: 4000px;
  width: 750px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--txt-color);
}
.project_part .main-project .project .project_box .project_img .mini_top {
  /* justify-content: space-between;
  font-family: var(--kr-font);
  position: relative; */
}
.project_part .main-project .project .project_box .project_img .mini_top h3 {
  top: -20px;
  font-size: var(--font-size-24);
  position: relative;
}
.project_part .main-project .project .project_box .project_img .mini_bottom {
  position: relative;
  top: 10px;
  font-size: var(--font-size-20);
  justify-content: space-between;
}
.project_part .main-project .project .project_box .project_img .mini_bottom h3 {
  font-family: var(--en-txt-font);
}
.project_part .main-project .project .project_box .project_img .mini_bottom p {
  text-align: right;
  line-height: 1.5;
  word-spacing: 3px;
}
.main-project,
.project,
.project_box,
.project_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  position: absolute;
  user-select: none;
}
.image {
  display: block;
  width: 100%;
  /* height: 400px; */
  height: 450px;
  position: relative;
}
/*** main-skills ***/
.main-skills {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-skills .skills {
  padding: 50px 80px;
  height: 120vh;
}
.main-skills .skills .txt {
  width: 35%;
  float: left;
}
.main-skills .skills .txt_box {
  float: left;
  width: 65%;
  flex-flow: row wrap;
}
.main-skills .skills .txt_box li {
  display: flex;
  border-bottom: 2px solid var(--point-color);
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 90px 0 10px;
  transition: 0.3s;
}
.main-skills .skills .txt_box li:hover {
  color: var(--point-color);
}
.main-skills .skills .txt_box li:hover h3 {
  transform: translateX(12px);
}
.main-skills .skills .txt_box li:nth-child(1) {
  padding: 0 0 10px;
}
.main-skills .skills .txt_box li h3 {
  display: flex;
  font-family: var(--en-txt-font);
  font-size: var(--font-size-44);
  transition: 0.4s;
}
.main-skills .skills .txt_box li:nth-child(2) h3 {
  flex-wrap: wrap;
}
.main-skills .skills .txt_box li p {
  width: 100%;
  font-family: var(--kr-font);
  font-size: var(--font-size-20);
  text-align: right;
}
/*** main-contact ***/
.main-contact {
  background-color: var(--bg-color);
  color: var(--txt-color);
}
.main-contact .contact {
  flex-direction: column;
  align-items: center;
  padding: 150px 0 60px;
}
.main-contact .contact img {
  width: 1000px;
  margin-bottom: 20px;
}
.main-contact .contact a {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-60);
  background: linear-gradient(90deg, #8b3156, #cd5888, #eff0f2, #8b3156);
  background-clip: "text";
  /* 웹킷 브라우저 지원을 위해 추가 */
  -webkit-background-clip: text;
  background-position-x: 0;
  background-size: 200%;
  color: transparent;
  animation: gradient 5s linear infinite;
}
.main-contact .contact p {
  font-family: var(--kr-font);
  font-size: var(--font-size-30);
}
/***** footer *****/
footer {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-20);
  font-weight: bold;
  background-color: var(--bg-color);
  color: var(--txt-color);
  justify-content: space-between;
  padding: 100px 80px;
}
footer .time {
  align-items: center;
  animation: shake infinite ease-in-out;
}
footer .time img {
  width: 47px;
  height: 47px;
  margin-right: 20px;
}
footer .sns {
  text-align: right;
}
footer .sns a {
  display: block;
  width: 115px;
  height: 40px;
  line-height: 40px;
  border: 1px solid var(--txt-color);
  border-radius: 20px;
  text-align: center;
  transition: 0.5s;
  margin-top: 15px;
  position: absolute;
  right: 75px;
}
footer .sns a:hover {
  color: var(--point-color);
  background-color: var(--txt-color);
}
