@charset "utf-8";
/***** common *****/
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--kr-font);
  text-transform: capitalize;
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
}
body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}
.left h2 {
  font-family: var(--en-menu-font);
  color: var(--point-color);
  font-weight: bold;
  font-size: var(--font-size-50);
}
.right p,
.right li {
  font-size: 18px;
}
img {
  user-select: none;
}
.flex {
  display: flex;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: var(--point-color);
}
.material-symbols-outlined {
  color: #eff0f2;
}
/***** header *****/
header {
  width: 100%;
  font-weight: bold;
  padding: 30px 50px;
  color: var(--point-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  user-select: none;
}
header .header-wrapper {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-30);
  font-style: italic;
  background-color: rgba(32, 38, 46, 0.5);
  transition: 0.5s;
  padding: 10px 0;
  border-radius: 10px;
  word-spacing: -3px;
}
header .header-wrapper:hover {
  background-color: var(--point-color);
  border-radius: 0;
  color: var(--txt-color);
}
header .header-wrapper .side a {
  border-radius: 10px;
  padding: 10px 30px;
}
header .header-wrapper .side a:hover {
  background-color: #222;
}
header .global-nav {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-26);
  text-transform: uppercase;
  background-color: rgba(32, 38, 46, 0.5);
  border-radius: 10px;
}
header .global-nav .side1:hover,
header .global-nav .side2:hover,
header .global-nav .side3:hover,
header .global-nav .side4:hover {
  background-color: var(--point-color);
  color: var(--txt-color);
}
header .global-nav li a {
  padding: 10px 30px;
  display: block;
  transition: 0.3s;
}
header .global-nav li a:hover {
  background-color: #222;
  border-radius: 7px;
  color: var(--txt-color);
}
/***** contents *****/
/*** project ***/
.main-project {
  padding: 200px 200px 0;
}
.main-project .project {
  align-items: center;
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 100px;
}
.main-project .project .left {
  width: 60%;
}
.main-project .project .left h1 {
  color: var(--point-color);
  font-size: var(--font-size-44);
  font-weight: bold;
  padding-bottom: 50px;
}
.main-project .project .left ul li {
  font-size: var(--font-size-24);
  padding: 7px 0;
}
.main-project .project .right {
  width: 40%;
}
.main-project .project .right img {
  width: 90%;
  /* height: 400px; */
}
/*** goals ***/
.main-goals {
  padding: 150px 200px 0;
}
.main-goals .goals {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-goals .goals .left {
  width: 50%;
}
.main-goals .goals .right ul li {
  list-style: disc;
  line-height: 2;
}
.main-goals .goals .right ul li:nth-child(1) {
  margin-bottom: 30px;
}
/*** design ***/
.main-design {
  padding: 150px 200px;
}
.main-design .design {
  border-bottom: 1px solid var(--txt-color);
  flex-wrap: wrap;
  padding-bottom: 120px;
}
.main-design .design .left {
  width: 50%;
  padding-top: 400px;
}
.main-design .design .left h3 {
  padding: 40px 0 30px;
  line-height: 2;
  font-size: 18px;
}
.main-design .design .left aside p {
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  text-align: center;
  padding: 5px 20px;
  margin-right: 15px;
  font-size: 18px;
}
.main-design .design .right {
  width: 50%;
}
.main-design .design .right .top_box {
  font-family: var(--en-txt-font);
}
.main-design .design .right .top_box h4 {
  font-size: var(--font-size-30);
  padding-bottom: 30px;
}
.main-design .design .right .top_box p {
  font-size: 16px;
}
.main-design .design .right .top_box .top {
  width: 100px;
  flex-direction: column;
}
.main-design .design .right .top_box .top img {
  padding: 20px 0 10px;
}
.main-design .design .right .top_box .top p {
  align-self: center;
  padding-bottom: 30px;
}
.main-design .design .right .top_box .middle {
  width: 180px;
  flex-direction: column;
}
.main-design .design .right .top_box .middle img {
  padding: 20px 0 10px;
}
.main-design .design .right .top_box .middle p {
  width: 50%;
  text-align: center;
  padding-bottom: 30px;
}
.main-design .design .right .top_box .bottom {
  width: 350px;
  flex-direction: column;
}
.main-design .design .right .top_box .bottom p {
  width: 25%;
  text-align: center;
  padding-bottom: 80px;
}
.main-design .design .right .top_box .bottom img {
  padding: 20px 0 10px;
}
.main-design .design .right .bottom_box {
  width: 80%;
}
.main-design .design .right .bottom_box h4 {
  font-size: var(--font-size-30);
  font-family: var(--en-txt-font);
  padding-bottom: 30px;
}
.main-design .design .right .bottom_box p {
  line-height: 2;
}
.main-design .design .right .bottom_box .txt_box {
  padding-right: 70px;
}
.main-design .design .right .bottom_box .basic_box {
  flex-direction: column;
  justify-content: flex-end;
}
/*** publishing ***/
.main-publishing {
  padding: 0 200px;
}
.main-publishing .publishing {
  padding-bottom: 120px;
  border-bottom: 1px solid var(--txt-color);
}
.main-publishing .publishing .left {
  width: 52%;
}
.main-publishing .publishing .right ul li {
  list-style: disc;
  line-height: 3;
}
/*** problem ***/
.main-problem {
  padding: 150px 200px 50px;
}
.main-problem .problem {
  border-bottom: 1px solid var(--txt-color);
  /* padding-bottom: 200px; */
}
.main-problem .problem .left {
  width: 50%;
}
.main-problem .problem .left h2 {
  padding-top: 120px;
}
.main-problem .problem .right {
  width: 50%;
}
.main-problem .problem .right dl {
  line-height: 2;
  /* position: relative; */
  font-size: 18px;
}
.main-problem .problem .right dl dt {
  /* font-weight: bold; */
}
.main-problem .problem .right dl dd {
  padding-bottom: 40px;
  text-indent: 25px;
  position: relative;
}
.main-problem .problem .right dl span {
  height: 100%;
  position: absolute;
  left: -30px;
  bottom: -4px;
  display: block;
}
.main-problem .problem .right dl span:nth-child(2) {
  bottom: -60px;
}
.main-problem .problem .right p {
  justify-content: flex-end;
  padding: 100px 20px 50px 0;
}
.main-problem .problem .right a {
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.5s;
}
.main-problem .problem .right a:hover {
  color: var(--point-color);
  background-color: var(--txt-color);
}
