@charset "utf-8";
/***** common *****/
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--kr-font);
  text-transform: capitalize;
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
}
body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}
.left h2 {
  font-family: var(--kr-font);
  color: var(--point-color);
  /* font-weight: bold; */
  font-size: var(--font-size-40);
}
.right p,
.right li {
  font-size: 18px;
}
img {
  user-select: none;
}
.flex {
  display: flex;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: var(--point-color);
}
.material-symbols-outlined {
  color: #eff0f2;
}
/***** header *****/
header {
  width: 100%;
  font-weight: bold;
  padding: 30px 50px;
  color: var(--point-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  user-select: none;
}
header .header-wrapper {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-30);
  font-style: italic;
  background-color: rgba(32, 38, 46, 0.5);
  transition: 0.5s;
  padding: 10px 0;
  border-radius: 10px;
  word-spacing: -3px;
}
header .header-wrapper:hover {
  background-color: var(--point-color);
  border-radius: 0;
  color: var(--txt-color);
}
header .header-wrapper .side a {
  border-radius: 10px;
  padding: 10px 30px;
}
header .header-wrapper .side a:hover {
  background-color: #222;
}
header .global-nav {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-26);
  text-transform: uppercase;
  background-color: rgba(32, 38, 46, 0.5);
  border-radius: 10px;
}
header .global-nav .side1:hover,
header .global-nav .side2:hover,
header .global-nav .side3:hover,
header .global-nav .side4:hover {
  background-color: var(--point-color);
  color: var(--txt-color);
}
header .global-nav li a {
  padding: 10px 30px;
  display: block;
  transition: 0.3s;
}
header .global-nav li a:hover {
  background-color: #222;
  border-radius: 7px;
  color: var(--txt-color);
}
/***** contents *****/
/*** project ***/
.main-project {
  background: url(./images/sub02_main.png) no-repeat 50% / cover;
}
.main-project .project {
  padding: 300px 200px 100px;
  align-items: center;
}
.main-project .project .left {
  width: 60%;
}
.main-project .project .left h1 {
  color: var(--point-color);
  font-size: var(--font-size-44);
  font-weight: bold;
  padding-bottom: 50px;
}
.main-project .project .left ul li {
  font-size: var(--font-size-24);
  padding: 7px 0;
}
.main-project .project .right {
  /* width: %; */
}
.main-project .project .right img {
  width: 400px;
}
/*** process ***/
.main-process {
  padding: 150px 200px 0;
}
.main-process .process {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-process .process .left {
  width: 52%;
  flex-direction: column;
  justify-content: center;
}
.main-process .process .right ul li {
  list-style: decimal;
  line-height: 2.5;
}
/*** task ***/
.main-task {
  padding: 150px 200px 0;
}
.main-task .task {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-task .task .left {
  width: 52%;
  flex-direction: column;
  justify-content: center;
}
.main-task .task .right ul li {
  list-style: disc;
  line-height: 2.5;
}
/*** goals ***/
.main-goals {
  padding: 200px;
}
.main-goals .goals {
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
  border-bottom: 1px solid var(--txt-color);
}
.main-goals .goals .pull {
  /* padding-bottom: 200px; */
}
.main-goals .goals .pull h2 {
  font-family: var(--en-menu-font);
  color: var(--point-color);
  font-size: var(--font-size-50);
  font-weight: bold;
  padding-bottom: 120px;
}
.main-goals .goals .pull p {
  font-size: var(--font-size-26);
}
/*** design ***/
.main-design {
  padding: 0 200px 150px;
}
.main-design .design {
  border-bottom: 1px solid var(--txt-color);
  flex-wrap: wrap;
  padding-bottom: 120px;
}
.main-design .design .left {
  width: 50%;
  flex-direction: column;
  justify-content: center;
}
.main-design .design .left h2 {
  font-family: var(--en-menu-font);
  font-weight: bold;
}
.main-design .design .left h3 {
  padding: 40px 0 30px;
  line-height: 2;
}
.main-design .design .left aside p {
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  text-align: center;
  padding: 5px 20px;
  margin-right: 15px;
}
.main-design .design .right .top_box {
  font-family: var(--en-txt-font);
}
.main-design .design .right .top_box h4 {
  font-size: var(--font-size-30);
  padding-bottom: 30px;
}
.main-design .design .right .top_box p {
  font-size: 16px;
}
.main-design .design .right .top_box .top {
  width: 280px;
  flex-direction: column;
}
.main-design .design .right .top_box .top img {
  padding: 20px 0 10px;
}
.main-design .design .right .top_box .top p {
  padding-bottom: 80px;
  width: 33.3333%;
  text-align: center;
}
.main-design .design .right .bottom_box {
  padding-right: 160px;
}
.main-design .design .right .bottom_box h4 {
  font-size: var(--font-size-30);
  font-family: var(--en-txt-font);
  padding-bottom: 30px;
}
.main-design .design .right .bottom_box p {
  line-height: 2;
}
.main-design .design .right .bottom_box .txt_box {
  padding-right: 100px;
}
.main-design .design .right .bottom_box .basic_box {
  flex-direction: column;
  justify-content: flex-end;
}
/*** imgBox ***/
.main-imgBox {
  padding: 0 200px;
}
.main-imgBox .imgBox {
  justify-content: space-around;
  text-align: center;
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-imgBox .imgBox figure {
  width: 300px;
}
.main-imgBox .imgBox .Box {
  align-self: center;
}
.main-imgBox .imgBox .Box figure:nth-child(1) {
  padding-bottom: 50px;
}
.main-imgBox .imgBox figure:nth-child(1) {
  align-self: center;
}
.main-imgBox .imgBox figure figcaption {
  padding-top: 10px;
}
/*** publishing ***/
.main-publishing {
  padding: 0 200px;
}
.main-publishing .publishing {
  padding: 150px 0;
  border-bottom: 1px solid var(--txt-color);
}
.main-publishing .publishing .left {
  width: 52%;
  flex-direction: column;
  justify-content: center;
}
.main-publishing .publishing .left h2 {
  font-family: var(--en-menu-font);
  font-weight: bold;
  padding-bottom: 40px;
}
.main-publishing .publishing .left aside p {
  margin: 40px 0;
}
.main-publishing .publishing .left aside p a {
  font-size: var(--font-size-24);
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  transition: 0.5s;
}
.main-publishing .publishing .left aside p a:hover {
  color: var(--point-color);
  background-color: var(--txt-color);
}
.main-publishing .publishing .right ul li {
  list-style: disc;
  line-height: 3;
  text-transform: none;
}
/*** result ***/
.main-result {
  padding: 150px 200px;
}
.main-result .result {
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 150px;
}
.main-result .result .left {
  width: 50%;
  padding-top: 30px;
}
.main-result .result .right {
  width: 50%;
}
.main-result .result .right p {
  line-height: 2.2;
  padding-bottom: 30px;
}
/*** personal ***/
.main-personal {
  padding: 130px 200px;
}
.main-personal .personal {
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 100px;
}
.main-personal .personal .left {
  width: 52%;
  flex-direction: column;
  justify-content: center;
}
.main-personal .personal .right {
  position: relative;
  width: 48%;
}
.main-personal .personal .right .material-symbols-outlined {
  position: absolute;
  left: -25px;
  padding-top: 5px;
}
.main-personal .personal .right ul {
  padding-bottom: 60px;
  line-height: 2;
}
.main-personal .personal .right ul li {
  list-style: disc;
}
.main-personal .personal .right ul li:nth-child(1) {
  list-style: none;
}
/*** review ***/
.main-review {
  padding: 50px 200px;
}
.main-review .review {
  border-bottom: 1px solid var(--txt-color);
}
.main-review .review .left {
  width: 50%;
  padding-top: 130px;
}
.main-review .review .right {
  width: 50%;
  text-transform: none;
}
.main-review .review .right p {
  padding-bottom: 40px;
  justify-content: flex-end;
  line-height: 1.8;
  font-size: 18px;
}
.main-review .review .right p:last-child {
  padding: 100px 20px 50px 0;
}
.main-review .review .right p a {
  justify-content: flex-end;
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  padding: 10px 20px;
  transition: 0.5s;
}
.main-review .review .right p a:hover {
  color: var(--point-color);
  background-color: var(--txt-color);
}
