@charset "utf-8";
/***** common *****/
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: var(--kr-font);
  text-transform: capitalize;
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
}
body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}
.left h2 {
  /* font-family: var(--en-menu-font); */
  color: var(--point-color);
  /* font-weight: bold; */
  font-size: var(--font-size-40);
}
.right p,
.right li {
  font-size: 18px;
}
img {
  user-select: none;
}
.flex {
  display: flex;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: var(--point-color);
}
.material-symbols-outlined {
  color: #eff0f2;
}
/***** header *****/
header {
  width: 100%;
  font-weight: bold;
  padding: 30px 50px;
  color: var(--point-color);
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9999;
  user-select: none;
}
header .header-wrapper {
  font-family: var(--en-txt-font);
  font-size: var(--font-size-30);
  font-style: italic;
  background-color: rgba(32, 38, 46, 0.5);
  transition: 0.5s;
  padding: 10px 0;
  border-radius: 10px;
  word-spacing: -3px;
}
header .header-wrapper:hover {
  background-color: var(--point-color);
  border-radius: 0;
  color: var(--txt-color);
}
header .header-wrapper .side a {
  border-radius: 10px;
  padding: 10px 30px;
}
header .header-wrapper .side a:hover {
  background-color: #222;
}
header .global-nav {
  font-family: var(--en-menu-font);
  font-size: var(--font-size-26);
  text-transform: uppercase;
  background-color: rgba(32, 38, 46, 0.5);
  border-radius: 10px;
}
header .global-nav .side1:hover,
header .global-nav .side2:hover,
header .global-nav .side3:hover,
header .global-nav .side4:hover {
  background-color: var(--point-color);
  color: var(--txt-color);
}
header .global-nav li a {
  padding: 10px 30px;
  display: block;
  transition: 0.3s;
}
header .global-nav li a:hover {
  background-color: #222;
  border-radius: 7px;
  color: var(--txt-color);
}
/***** contents *****/
/*** project ***/
.main-project {
  background: url(./images/sub03_main.png) no-repeat 50% / cover;
  height: 100%;
}
.main-project .project {
  padding: 300px 200px 100px;
}
.main-project .project .pull h1 {
  color: var(--point-color);
  font-size: var(--font-size-44);
  font-weight: bold;
  padding-bottom: 50px;
}
.main-project .project .pull ul li {
  font-size: var(--font-size-24);
  padding: 7px 0;
}
/*** 프로젝트 소개 ***/
.main-introduce {
  padding: 150px 200px 0;
}
.main-introduce .introduce {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-introduce .introduce .left {
  width: 52%;
  padding-top: 140px;
}
.main-introduce .introduce .right p {
  padding-bottom: 100px;
  font-size: var(--font-size-24);
  text-indent: -20px;
}
.main-introduce .introduce .right ul li {
  list-style: disc;
  line-height: 2.5;
}
/*** 진행 과정 ***/
.main-process {
  padding: 150px 200px 0;
}
.main-process .process {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-process .process .left {
  width: 52%;
  padding-top: 70px;
}
.main-process .process .right ul li {
  list-style: decimal;
  line-height: 2.5;
}
/*** 담당업무 ***/
.main-task {
  padding: 150px 200px 0;
}
.main-task .task {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-task .task .left {
  width: 52%;
}
.main-task .task .right ul li {
  list-style: disc;
  line-height: 2.5;
}
/*** 기존 앱의 문제점 ***/
.main-problem {
  padding: 170px 200px 0;
}
.main-problem .problem {
  padding-bottom: 150px;
  border-bottom: 1px solid var(--txt-color);
}
.main-problem .problem .left {
  width: 50%;
  padding-top: 130px;
}
.main-problem .problem .right img {
  width: 170px;
}
.main-problem .problem .right p {
  text-align: center;
  padding-top: 10px;
}
.main-problem .problem .right .center_box {
  padding: 0 100px;
}
/*** ux vision ***/
.main-vision {
  padding: 200px;
}
.main-vision .vision {
  width: 100%;
  text-align: center;
  padding-bottom: 200px;
  border-bottom: 1px solid var(--txt-color);
}
.main-vision .vision h2 {
  font-family: var(--en-menu-font);
  font-weight: bold;
  font-size: var(--font-size-50);
  word-spacing: -12px;
  padding-bottom: 120px;
  color: var(--point-color);
}
.main-vision .vision p {
  font-size: var(--font-size-30);
  background: linear-gradient(90deg, #8b3156, #cd5888, #eff0f2, #8b3156);
  background-clip: "text";
  /* 웹킷 브라우저 지원을 위해 추가 */
  -webkit-background-clip: text;
  background-position-x: 0;
  background-size: 200%;
  color: transparent;
  animation: gradient 5s linear infinite;
}
/*** design ***/
.main-design {
  padding: 0 200px;
}
.main-design .design {
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 150px;
}
.main-design .design .left {
  width: 50%;
  padding-top: 220px;
}
.main-design .design .left h2 {
  font-family: var(--en-menu-font);
  font-weight: bold;
}
.main-design .design .left h3 {
  padding: 40px 0 30px;
  line-height: 2;
}
.main-design .design .left aside p {
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  text-align: center;
  padding: 5px 20px;
  margin-right: 15px;
}
.main-design .design .right h4 {
  font-size: var(--font-size-30);
  font-family: var(--en-txt-font);
  padding-bottom: 30px;
}
.main-design .design .right .top_box {
  font-family: var(--en-txt-font);
}
.main-design .design .right .top_box .top {
  flex-direction: column;
  width: 100px;
}
.main-design .design .right .top_box img {
  padding: 20px 0 10px;
}
.main-design .design .right .top_box .top p {
  padding-bottom: 30px;
  text-align: center;
}
.main-design .design .right .top_box .bottom {
  width: 400px;
}
.main-design .design .right .top_box .bottom p {
  width: 20%;
  text-align: center;
  padding-bottom: 80px;
  line-height: 2;
}
.main-design .design .right .bottom_box .txt_box {
  padding-right: 160px;
}
.main-design .design .right .bottom_box .basic_box {
  flex-direction: column;
  justify-content: flex-end;
  height: 140px;
}
/*** 프로토타입 이미지 ***/
.main-prototype {
  padding: 150px 200px;
}
.main-prototype .prototype {
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 150px;
  justify-content: space-around;
}
.main-prototype .prototype figure img {
  width: 230px;
  padding-bottom: 10px;
}
.main-prototype .prototype figure figcaption {
  text-align: center;
}
/*** 프로젝트 결과 ***/
.main-result {
  padding: 50px 200px;
}
.main-result .result {
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 150px;
}
.main-result .result .left {
  width: 50%;
  padding-top: 30px;
}
.main-result .result .right p {
  line-height: 2.2;
}
/*** 개인적인 평가 ***/
.main-personal {
  padding: 130px 200px;
}
.main-personal .personal {
  border-bottom: 1px solid var(--txt-color);
  padding-bottom: 100px;
}
.main-personal .personal .left {
  width: 52%;
  padding-top: 180px;
}
.main-personal .personal .right {
  position: relative;
}
.main-personal .personal .right .material-symbols-outlined {
  position: absolute;
  left: -25px;
  /* top: 2px; */
  padding-top: 5px;
}
.main-personal .personal .right ul {
  padding-bottom: 60px;
  line-height: 2;
}
.main-personal .personal .right ul li {
  list-style: disc;
}
.main-personal .personal .right ul li:nth-child(1) {
  list-style: none;
}
/*** 최종 리뷰 ***/
.main-review {
  padding: 50px 200px;
}
.main-review .review {
  border-bottom: 1px solid var(--txt-color);
}
.main-review .review .left {
  width: 50%;
  padding-top: 200px;
}
.main-review .review .left h2 {
}
.main-review .review .right {
  width: 50%;
}
.main-review .review .right p {
  padding-bottom: 40px;
  justify-content: flex-end;
  line-height: 1.8;
  font-size: 18px;
}
.main-review .review .right p:last-child {
  padding: 100px 20px 50px 0;
}
.main-review .review .right p a {
  justify-content: flex-end;
  border: 1px solid var(--txt-color);
  border-radius: 30px;
  padding: 10px 20px;
  /* font-weight: bold; */
  transition: 0.5s;
}
.main-review .review .right p a:hover {
  color: var(--point-color);
  background-color: var(--txt-color);
}
