@charset "utf-8";

/***** common *****/
body {
  font-family: var(--kr-txt-font);
  color:var(--txt-color);
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
}
body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}
.flex {
  display: flex;
}
a {
  display: block;
}
img {
  user-select: none;
}
.work_left span,
 .work_right span{
  color:#ffffff;
  background-color: var(--txt-color);
  transform: rotate(-50deg);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

/***** header *****/
header {
  padding: 40px 60px;
}
header .header-wrapper {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .header-wrapper p a img {
  width: 100px;
}
header .header-wrapper nav .global-nav {
  margin-right: 20px;
}
header .header-wrapper nav .global-nav li a {
  width: 100%;
  padding: 10px 12px;
  margin-left: 20px;
  text-transform: uppercase;
  font-family: var(--en-menu-font);
  word-spacing: -3px;
  text-align: center;
}
header .header-wrapper nav .global-nav li:last-child a {
  background-color: var(--txt-color);
  color:#ffffff;
  border-radius: 30px;
}
/***** contents *****/
/*** title ***/
.main-title {
  width: 100%;
  overflow: hidden;
  gap: 10vw;
}
.main-title h1 {
  font-family: var(--en-txt-font);
  text-transform: uppercase;
  font-size: var(--main-size-250);
  letter-spacing: -5px;
  flex-shrink: 0;
  animation: slide 10s linear infinite;
}
.title {
  padding: 0 60px;
  justify-content: space-between;
}
.title .left {
  width: 50%;
  /* 사진 740px 패딩값 60px */
  width: calc(100% - 800px);
  flex-direction: column;
  padding: 60px 0;
}
.title .left h2 {
  font-size: var(--font-size-46);
  padding-bottom: 40px;
}
.title .left p {
  font-family: var(--en-menu-font);
  color:var(--point-color);
}
.title .left .side_box {
  height: 100%;
  align-self: flex-end;
}
.title .left .side {
  align-self: flex-end;
  flex-direction: column;
}
.title .left .side h3 {
  color:var(--txt-sub-color);
  /* font-size: var(--font-size-32); */
  font-size: var(--font-size-24);
  padding-bottom: 10px;
}
.title .left .side h3::before {
  width: 100%;
  content: "";
  display: block;
  border: 0.5px solid var(--txt-sub-color);
  margin-bottom: 10px;
}
.title .left .side h4 strong {
  font-size: var(--font-size-18);
  font-weight: 400;
  padding: 0 5px;
}
.title .left .side h4{
  align-items: center;
  font-size: var(--font-size-14);
}
.title .left .side h4 span {
  color:#ffffff;
  background-color: var(--txt-color);
  transform: rotate(-50deg);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
}
.title .left .side02 {
  padding-left: 20px;
}
.title .right {
  width: 740px;
  height: 740px;
  background-color: #ddd;
  text-indent: -9999px;
  background:url(./images/main_01.jpg) no-repeat 60% /cover;
}
/*** sub01 ***/
.main-sub01 {
  padding: 0 60px;
}
.main-sub01 .sub01 {
  justify-content: space-between;
  align-items: flex-end;
  height: 510px;
}
.main-sub01 .sub01 .left {
  width: 465px;
  height: 465px;
  background: url(./images/main_02.jpg) no-repeat 50% /cover;
  text-indent: -9999px;
}
.main-sub01 .sub01 .right {
  width: calc(100% - 525px);
  font-size: var(--font-size-46);
  align-self: center;
}
/*** sub02 ***/
.main-sub02 {
  padding: 0 60px;
}
.main-sub02 .sub02 {
  width: 100%;
  justify-content: space-between;
  padding: 130px 0;
}
.main-sub02 .sub02 .left{
  width: calc(100% - 800px);
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}
.main-sub02 .sub02 .left h2 {
  font-size: var(--font-size-46);
}
.main-sub02 .sub02 .order {
  font-size: var(--font-size-24);
}
.main-sub02 .sub02 .order li {
  border-bottom: 0.5px solid var(--txt-color);
  padding:15px 0;
  justify-content: space-between;
}
.main-sub02 .sub02 .order li:last-child {
  border: none;
}
.main-sub02 .sub02 .right {
  width: 740px;
  height: 740px;
  background: url(./images/main_03.jpg) no-repeat 50% /cover;
  text-indent: -9999px;
}
/*** grafen ***/
.main-grafen {
  padding: 60px;
}
.main-grafen h2 {
  font-size: var(--font-size-230);
  text-transform: uppercase;
}
.main-grafen .grafen {
  justify-content: space-between;
}
.main-grafen .grafen .work_left {}
.main-grafen .grafen .work_left h2 {
  font-size: var(--font-size-50);
}
.main-grafen .grafen .work_left h3 {
  color:var(--point-color);
  font-family: var(--en-menu-font);
  font-size: var(--font-size-18);
  padding: 10px 0 5px;
}
.main-grafen .grafen .work_left h4 {}
.main-grafen .grafen .work_left p {}
.main-grafen .grafen .work_left p span {}
.main-grafen .grafen .work_right {
  width: 1000px;
  height: 500px;
  text-indent: -9999px;
  background:fixed url(./images/works_01.jpg) no-repeat 50% 80% /cover;
}
/*** kahi ***/
.main-kahi {
  padding: 0 60px;
}
.main-kahi .kahi {
  justify-content: space-between;
}
.main-kahi .kahi .work_left {
  width: 1000px;
  height: 500px;
  text-indent: -9999px;
  background:fixed url(./images/works_02.png) no-repeat 50% 80% /cover;
}
.main-kahi .kahi .work_right h2 {
  font-size: var(--font-size-50);
  text-transform: uppercase;
}
.main-kahi .kahi .work_right h3 {
  color:var(--point-color);
  padding: 10px 0 5px;
}
/*** uriage ***/
.main-uriage {
  padding: 60px;
}
.main-uriage .uriage {
  justify-content: space-between;
}
.main-uriage .uriage .work_left {}
.main-uriage .uriage .work_left h2{
  font-size: var(--font-size-50);
  text-transform: uppercase;
}
.main-uriage .uriage .work_left h3{
  color:var(--point-color);
  padding: 10px 0 5px;
}

.main-uriage .uriage .work_left p{}
.main-uriage .uriage .work_left p span{}
.main-uriage .uriage .work_right {
  width: 1000px;
  height: 500px;
  background: fixed url(./images/works_03.jpg) no-repeat 20% /cover;
}
/*** product ***/
/*** lacation ***/
/***** footer *****/