@charset "utf-8";

/***** common *****/
body {
  font-family: var(--kr-txt-font);
  color: var(--txt-color);
  opacity: 0;
  transition-duration: 3s;
  transition-property: opacity text-shadow;
  text-shadow: 0 0 10px transparent;
  background-color: #f5f6f7;
}
body.fade_out {
  opacity: 1;
  text-shadow: 0 0 0 transparent;
}
.flex {
  display: flex;
}
a,
span {
  display: block;
}
img,
span {
  user-select: none;
}
.work_left span,
.work_right span {
  color: #ffffff;
  background-color: var(--txt-color);
  transform: rotate(-50deg);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}
.circle {
  color: #ffffff;
  background-color: var(--txt-color);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
}
.circle:hover .none {
  animation: horizontal 1s linear;
}
.none {
  transform: rotate(-50deg);
  background-color: inherit;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--point-color);
  border-radius: 10px;
}
::selection {
  background-color: var(--txt-color);
  color: #ffffff;
}
/***** header *****/
header .header-wrapper {
  padding: 40px 60px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.5s;
}
header .header-wrapper p a img {
  width: 120px;
}
header .header-wrapper nav .global-nav {
  align-items: center;
}
header .header-wrapper nav .global-nav li {
  padding: 10px 12px;
  margin-left: 20px;
}
header .header-wrapper nav .global-nav li a {
  width: 100%;
  height: 21.5px;
  /* margin-left: 20px; */
  text-transform: uppercase;
  font-family: var(--en-menu-font);
  word-spacing: -3px;
  text-align: center;
  overflow: hidden;
}
header .header-wrapper nav .global-nav li a:hover span {
  animation: menu 1s;
}
header .header-wrapper nav .global-nav li:last-child {
  background-color: var(--txt-color);
  color: #ffffff;
  border-radius: 30px;
  padding: 10px 22px;
}
/***** contents *****/
/*** title ***/
.main-title {
  width: 100%;
  overflow: hidden;
  gap: 10vw;
}
.main-title h1 {
  font-family: var(--en-txt-font);
  text-transform: uppercase;
  font-size: var(--main-size-250);
  letter-spacing: -5px;
  flex-shrink: 0;
  animation: slide 20s linear infinite;
  padding-top: 50px;
}
.title {
  padding: 0 60px;
  justify-content: space-between;
}
.title .left {
  width: 50%;
  /* 사진 740px 패딩값 60px */
  width: calc(100% - 800px);
  flex-direction: column;
  padding: 60px 0;
}
.title .left h2 {
  font-size: var(--font-size-46);
  padding-bottom: 40px;
}
.title .left p {
  font-family: var(--en-menu-font);
  color: var(--point-color);
}
.title .left .side_box {
  height: 100%;
  align-self: flex-end;
}
.title .left .side {
  align-self: flex-end;
  flex-direction: column;
}
.title .left .side h3 {
  color: var(--txt-sub-color);
  /* font-size: var(--font-size-32); */
  font-size: var(--font-size-24);
  padding-bottom: 10px;
}
.title .left .side h3::before {
  width: 100%;
  content: "";
  display: block;
  border: 0.5px solid var(--txt-sub-color);
  margin-bottom: 10px;
}
.title .left .side h4 strong {
  font-size: var(--font-size-18);
  font-weight: 400;
  padding: 0 5px;
}
.title .left .side h4 {
  align-items: center;
  font-size: var(--font-size-14);
}
.title .left .side02 {
  padding-left: 20px;
}
.title .right,
.main-sub02 .right {
  position: relative;
}
.title .right img,
.main-sub02 .right img {
  width: 740px;
  height: 740px;
  /* cursor: pointer; */
}
.title .right .correction,
.main-sub02 .right .correction {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: 0.7s;
}
.title .right .correction:hover,
.main-sub02 .right .correction:hover {
  opacity: 1;
}
/*** sub01 ***/
.main-sub01 {
  padding: 0 60px;
}
.main-sub01 .sub01 {
  justify-content: space-between;
  align-items: flex-end;
  height: 510px;
}
.main-sub01 .sub01 .left {
  width: 465px;
  height: 465px;
  background: url(./images/main_02.jpg) no-repeat 50% / cover;
  text-indent: -9999px;
  transition: 0.5s;
  /* cursor: pointer; */
}
.main-sub01 .sub01 .left:hover {
  filter: grayscale(100%);
}
.main-sub01 .sub01 .right {
  width: calc(100% - 525px);
  font-size: var(--font-size-46);
  align-self: center;
}
/*** sub02 ***/
.main-sub02 {
  padding: 0 60px;
}
.main-sub02 .sub02 {
  width: 100%;
  justify-content: space-between;
  padding: 130px 0;
}
.main-sub02 .sub02 .left {
  width: calc(100% - 800px);
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0;
}
.main-sub02 .sub02 .left h2 {
  font-size: var(--font-size-46);
}
.main-sub02 .sub02 .order {
  font-size: var(--font-size-24);
}
.main-sub02 .sub02 .order li {
  border-bottom: 0.5px solid var(--txt-color);
  padding: 15px 0;
  justify-content: space-between;
  cursor: pointer;
}
.main-sub02 .sub02 .order li p {
  transition: 0.5s;
}
.main-sub02 .sub02 .order li:hover {
  color: var(--point-color);
}
.main-sub02 .sub02 .order li:hover p:nth-child(1) {
  transform: translateX(15px);
}
.main-sub02 .sub02 .order li:last-child {
  border: none;
}
/*** grafen ***/
.main-grafen {
  padding: 60px;
}
.main-grafen h2 {
  font-size: var(--font-size-230);
  font-family: var(--en-txt-font);
  text-transform: uppercase;
}
.main-grafen .grafen {
  justify-content: space-between;
}
.main-grafen .grafen .work_left {
  width: calc(100% - 1060px);
  height: 500px;
  padding: 60px 0;
}
.main-grafen .grafen .work_left h2 {
  font-size: var(--font-size-50);
}
.main-grafen .grafen .work_left h3 {
  color: var(--point-color);
  font-family: var(--en-menu-font);
  font-size: var(--font-size-18);
  padding: 10px 0 5px;
}
.main-grafen .grafen .work_left h5 {
  padding-bottom: 240px;
}
.main-grafen .grafen .work_left h4 {
  align-items: center;
  text-transform: uppercase;
  font-family: var(--en-menu-font);
}
.main-grafen .grafen .work_left .circle {
  margin-right: 7px;
}
.main-grafen .grafen .work_right {
  width: 1000px;
  height: 500px;
  text-indent: -9999px;
  background: fixed url(./images/works_01.jpg) no-repeat 300px 80% / cover;
  position: relative;
  cursor: pointer;
}
.main-grafen .grafen .work_right .follow1,
.main-kahi .kahi .work_left .follow2,
.main-uriage .uriage .work_right .follow3 {
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-40%);
  width: 50px;
  opacity: 0;
  animation: shrink 0.5s linear;
}
.main-grafen .grafen .work_right:hover .follow1,
.main-kahi .kahi .work_left:hover .follow2,
.main-uriage .uriage .work_right:hover .follow3 {
  opacity: 1;
  animation: grow 0.5s linear;
}
/*** kahi ***/
.main-kahi {
  padding: 0 60px;
}
.main-kahi .kahi {
  justify-content: space-between;
}
.main-kahi .kahi .work_left {
  width: 1000px;
  height: 500px;
  text-indent: -9999px;
  background: fixed url(./images/works_02.png) no-repeat 80% / cover;
  position: relative;
  cursor: pointer;
}
.main-kahi .kahi .work_right {
  width: calc(100% - 1060px);
  padding: 60px 0;
}
.main-kahi .kahi .work_right h2 {
  font-size: var(--font-size-50);
  text-transform: uppercase;
}
.main-kahi .kahi .work_right h3 {
  color: var(--point-color);
  font-family: var(--en-menu-font);
  font-size: var(--font-size-18);
  padding: 10px 0 5px;
}
.main-kahi .kahi .work_right h5 {
  padding-bottom: 240px;
}

.main-kahi .kahi .work_right h4 {
  align-items: center;
  text-transform: uppercase;
  font-family: var(--en-menu-font);
}
.main-kahi .kahi .work_right h4 .circle {
  margin-right: 7px;
}
/*** uriage ***/
.main-uriage {
  padding: 60px;
}
.main-uriage .uriage {
  justify-content: space-between;
}
.main-uriage .uriage .work_left {
  width: calc(100% - 1060px);
  padding: 60px 0;
}
.main-uriage .uriage .work_left h2 {
  font-size: var(--font-size-50);
  text-transform: uppercase;
}
.main-uriage .uriage .work_left h3 {
  color: var(--point-color);
  font-family: var(--en-menu-font);
  font-size: var(--font-size-18);
  padding: 10px 0 5px;
}
.main-uriage .uriage .work_left h5 {
  padding-bottom: 240px;
}
.main-uriage .uriage .work_left h4 {
  align-items: center;
  text-transform: uppercase;
  font-family: var(--en-menu-font);
}
.main-uriage .uriage .work_left .circle {
  margin-right: 7px;
}
.main-uriage .uriage .work_right {
  width: 1000px;
  height: 500px;
  background: fixed url(./images/works_03.jpg) no-repeat 300px center / cover;
  position: relative;
  cursor: pointer;
}
/*** product ***/
.main-product {
  border-top: 0.5px solid var(--txt-color);
  padding: 60px;
}
.main-product h2 {
  font-size: var(--font-size-128);
  font-family: var(--en-txt-font);
  text-transform: uppercase;
}
.main-product .product {
  justify-content: space-between;
  padding-top: 60px;
}
.main-product .box h3 {
  position: relative;
}
.main-product .box img {
  width: 320px;
  height: 320px;
  cursor: pointer;
  object-fit: cover;
}
.main-product .box .correction {
  position: absolute;
  top: -320px;
  opacity: 0;
  transition: 0.7s;
}
.main-product .box:hover .correction {
  opacity: 1;
}
.main-product .product .box h2 {
  font-size: var(--font-size-20);
  font-family: var(--en-menu-font);
}
.main-product .product .box p {
  /* font-size: var(--font-size-16); */
  justify-content: space-between;
  text-align: right;
}
.main-product .product .box p span {
  font-size: var(--font-size-12);
  color: var(--txt-sub-color);
}
/*** lacation ***/
.location {
  justify-content: center;
  padding: 60px;
}
#map {
  background-color: #ddd;
  width: 100%;
  height: 500px;
}
/***** footer *****/
footer {
  background-color: var(--txt-color);
  color: #ffffff;
  padding: 60px;
  justify-content: space-between;
  align-items: center;
  line-height: 2;
}
footer .information {
  text-transform: uppercase;
}
footer .information img {
  width: 120px;
  padding-bottom: 30px;
}
footer .daeun {
  flex-direction: column;
  align-items: flex-end;
}
footer .daeun p a {
  border-bottom: 1px solid #ffffff;
  text-align: right;
  /* font-size: 18px; */
}
