@charset "utf-8";

/***** pc 큰 버전 *****/
@media (max-width: 1440px) {
  .main-sub02 .sub02 .same {
    padding: 10px 0 10%;
  }
  /*** product ***/
  .main-product .product .box p {
    flex-direction: column;
    text-align: left;
  }
  .main-product .product .box p span {
    padding-top: 5px;
  }
}
/***** pc 작은 버전 *****/
@media (max-width: 1221px) {
  /*** title ***/
  .main-title h1 {
    font-size: 220px;
  }
  .title .left {
    padding: 30px 0;
    width: calc(100% - 45vw);
  }
  .title .left h2 {
    font-size: var(--font-size-66);
  }
  .title .left .side h3 {
    font-size: 20px;
  }
  .title .right img,
  .main-sub02 .right img {
    width: 42vw;
    height: 58vw;
  }
  /*** sub01 ***/
  .main-sub01 .sub01 .right {
    /* font-size: 36px; */
    font-size: var(--font-size-66);
    /* padding: 0; */
    line-height: 80px;
    letter-spacing: 2px;
    width: calc(100% - 29vw);
  }
  .main-sub01 .sub01 .left {
    width: 26vw;
    height: 41vw;
    background: url(./images/main_02.jpg) no-repeat 20% / cover;
  }
  .main-sub01 .sub01 .right {
    flex-direction: column;
  }
  .main-sub01 .sub01 .right .same {
    font-size: var(--font-size-18);
    padding-top: 5px;
  }
  /*** sub02 ***/
  .main-sub02 .sub02 .left {
    padding: 30px 0 5px;
  }
  .main-sub02 .sub02 .same {
    top: 30%;
  }
  .main-sub02 .sub02 .left h2 {
    font-size: var(--font-size-66);
  }
  .main-sub02 .sub02 .same {
    font-size: var(--font-size-18);
  }
  .main-sub02 .sub02 .order {
    font-size: var(--font-size-22);
  }
  .main-sub02 .sub02 .order li {
    padding: 10px 0;
  }
  /*** grafen ***/
  .main-grafen h2 {
    font-size: var(--font-size-150);
  }
  .main-grafen .grafen .work_left h5,
  .main-kahi .kahi .work_right h5,
  .main-uriage .uriage .work_left h5 {
    padding-bottom: 7vw;
  }
  /*** uriage ***/
  .main-uriage {
    padding: 3vw 3vw 5vw;
  }
  /*** product ***/
  .main-product .product .box p {
    flex-direction: column;
    text-align: left;
  }
  .main-product .product .box p span {
    padding-top: 5px;
    width: 100%;
    font-size: var(--font-size-12);
  }
}
/***** 태블릿 큰 버전 *****/
@media (max-width: 990px) {
  header .header-wrapper nav .global-nav li {
    display: none;
  }
  header .header-wrapper nav .global-nav li:last-child {
    display: inherit;
    position: absolute;
    right: 12vw;
  }

  header nav .mobile_btn {
    display: block;
    position: absolute;
    top: 38%;
    right: 5vw;
  }

  input[id="hamburger"] {
    opacity: 0;
    transition: 0.3s;
  }

  input[id="hamburger"] + label {
    display: inline-block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }

  input[id="hamburger"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 30px;
    background: var(--txt-color);
    transition: all 0.35s;
  }

  input[id="hamburger"] + label span:nth-child(1) {
    top: 0;
  }

  input[id="hamburger"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }

  input[id="hamburger"] + label span:nth-child(3) {
    bottom: 0;
  }

  input[id="hamburger"]:checked + label {
    z-index: 99;
  }

  input[id="hamburger"]:checked + label span {
    /* background: black; */
  }

  input[id="hamburger"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }

  input[id="hamburger"]:checked + label span:nth-child(2) {
    opacity: 0;
  }

  input[id="hamburger"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  div[class="sidebar"] {
    width: 89vw;
    height: 50%;
    background: var(--txt-color);
    position: fixed;
    top: 8vw;
    right: -100%;
    z-index: 98;
    transition: all 0.5s;
    opacity: 0;
  }

  input[id="hamburger"]:checked + label + div {
    left: 5vw;
    top: 12%;
    opacity: 1;
  }

  .nav_mobile {
    position: absolute;
    top: 0;
    left: 3vw;
    width: fit-content;
  }

  .sidebar .nav_mobile li {
    font-family: var(--en-menu-font);
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    /* float: left; */
    width: fit-content;
    font-size: 14px;
    /* border-bottom: 1px solid #ccc; */

    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    /* text-align: center; */
  }

  .sidebar li a {
    transition: all 0.4s;
  }

  .sidebar li a:hover,
  .sidebar ul li:hover a {
    /* color: #eee; */
    /* padding: 0;
      margin: 0;
      border: 0px; */
  }
  /*** title ***/
  .title {
    padding: 0 5vw;
    flex-direction: column-reverse;
  }
  .title .right,
  .main-sub02 .right {
    height: 100%;
  }
  .main-title h1 {
    font-size: var(--font-size-128);
    line-height: 100%;
    padding: 70px 0 20px;
  }
  .title .left {
    width: 100%;
    overflow: hidden;
  }
  .title .left h2 {
    font-size: 67px;
    padding-bottom: 20px;
  }
  .title .left p {
    text-align: left;
    right: auto;
    top: 65%;
  }
  .title .left .side_box {
    padding-top: 100px;
  }
  .title .right {
    width: 89vw;
    height: 89vw;
  }
  .title .right img,
  .title .right .correction {
    width: 89vw;
    height: 89vw;
    top: 0;
  }
  /*** sub01 ***/
  .main-sub01 {
    padding: 0 5vw;
  }
  .main-sub01 .sub01 {
    flex-direction: column;
  }
  .main-sub01 .sub01 .right {
    font-size: 46px;
    width: 100%;
  }
  .main-sub01 .sub01 .left {
    width: 89vw;
    height: 89vw;
    overflow: hidden;
  }
  /*** sub02 ***/
  .main-sub02 {
    padding: 2vw 5vw;
  }
  .main-sub02 .sub02 {
    flex-direction: column-reverse;
    padding: 0;
  }
  .main-sub02 .right {
  }
  .main-sub02 .right img {
    width: 89vw;
    height: 89vw;
  }
  .main-sub02 .sub02 .left {
    width: 100%;
    padding: 0;
  }
  .main-sub02 .sub02 .left h2 {
    font-size: 46px;
    line-height: 100%;
    padding-top: 30px;
  }
  .main-sub02 .sub02 .order li {
    padding: 12px;
  }
  .main-sub02 .sub02 .order {
    font-size: 18px;
    /* padding-top: 50px; */
  }
  /*** grafen ***/
  .main-grafen {
    padding: 0 5vw;
  }
  .main-grafen h2 {
    font-size: var(--font-size-128);
  }
  .main-grafen .grafen .work_left h2,
  .main-kahi .kahi .work_right h2,
  .main-uriage .uriage .work_left h2 {
    font-size: 36px;
  }
  .main-grafen .grafen .work_left,
  .main-kahi .kahi .work_right,
  .main-uriage .uriage .work_left {
    padding: 0;
  }
  .main-grafen .grafen .work_left h3,
  .main-kahi .kahi .work_right h3,
  .main-uriage .uriage .work_left h3 {
    font-size: 14px;
    font-weight: 500;
  }
  .main-grafen .grafen .work_left h5,
  .main-kahi .kahi .work_right h5,
  .main-uriage .uriage .work_left h5 {
    font-size: 14px;
  }
  .main-kahi {
    padding: 0 5vw;
  }
  /*** uriage ***/
  .main-uriage {
    padding: 5vw;
  }
  /*** product ***/
  .main-product .product {
    flex-wrap: wrap;
    width: 100%;
  }
  .main-product h2 {
    font-size: var(--font-size-66);
    padding: 0 3vw;
  }
  .main-product .product .box {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  .main-product .box img {
    width: 43vw;
    height: 40vw;
  }
  .main-product .box .correction {
    top: -40vw;
  }
  .main-product .product {
    padding: 0;
  }
  .main-product .product .box p span {
    width: 100%;
  }
  .main-product .product .img_box01,
  .img_box02 {
    padding-bottom: 50px;
  }
  .location {
    padding: 5vw;
  }
  footer {
    flex-direction: column;
    align-items: flex-start;
  }
  footer .daeun {
    align-items: flex-start;
    padding-top: 50px;
  }
}
/***** 태블릿 원사이즈 버전 *****/
@media (max-width: 768px) {
  header .header-wrapper {
    padding: 30px 5vw;
  }
  .main-title h1 {
    font-size: 100px;
    padding: 70px 0 20px;
    line-height: 100%;
  }
  .title .left p {
    padding-bottom: 30px;
    top: 55%;
  }
  .title .left h2 {
    line-height: 100%;
  }
  .title .left .same {
    font-size: var(--font-size-18);
    padding-bottom: 20px;
  }
  .title .left h2,
  .main-sub01 .sub01 .right,
  .main-sub02 .sub02 .left h2 {
    font-size: 44px;
    line-height: 100%;
    width: calc(100% - 3vw);
  }
  .title .left .side02 {
    padding-left: 20px;
  }
  .title .left .side h3 {
    font-size: var(--font-size-16);
  }
  .title .left .side h4 strong {
    font-size: var(--font-size-14);
  }
  .title .left .side h4 {
    font-size: var(--font-size-12);
  }
  .main-sub01 .sub01 .right .same {
    position: inherit;
  }
  .main-sub02 .sub02 {
    flex-direction: column-reverse;
  }
  .main-sub02 .sub02 .same {
    padding: 10px 0 60px;
  }
  .main-grafen h2 {
    font-size: 100px;
  }
  .main-grafen .grafen .work_left,
  .main-kahi .kahi .work_right,
  .main-uriage .uriage .work_left {
    width: calc(100% - 48vw);
  }
  .main-grafen .grafen .work_left h5,
  .main-kahi .kahi .work_right h5,
  .main-uriage .uriage .work_left h5 {
    padding-bottom: 1vw;
  }
  .main-grafen .grafen .work_right,
  .main-uriage .uriage .work_right {
    width: 42vw;
    height: 42vw;
    background-position: 170px;
  }
  .main-kahi .kahi .work_left {
    width: 42vw;
    height: 42vw;
  }
  .main-grafen .grafen .work_left h5,
  .main-kahi .kahi .work_right h5,
  .main-uriage .uriage .work_left h5 {
    padding-bottom: 50%;
  }
  .main-product {
    padding: 5vw;
  }
  .main-product h2 {
    padding: 0;
  }
  .main-product .product {
    padding-top: 20px;
  }
  .main-product .product .box {
    width: fit-content;
  }
  .main-product h2 {
    font-size: 48px;
  }
  .main-product .box img {
    width: 43vw;
    height: 60vw;
  }
  .main-product .box .correction {
    top: -60vw;
  }
}
/***** 모바일 *****/
@media (max-width: 480px) {
  .title .left h2,
  .main-sub01 .sub01 .right,
  .main-sub02 .sub02 .left h2 {
    font-size: var(--font-size-40);
  }
  .main-title h1 {
    font-size: 60px;
    letter-spacing: 0;
  }
  header .header-wrapper nav .global-nav li:last-child {
    display: none;
  }
  input[id="hamburger"]:checked + label + div {
    top: 8%;
  }
  div[class="sidebar"] {
    height: 37%;
  }
  .title .left p {
    bottom: 25vw;
  }
  .title .left .side_box {
    align-self: flex-start;
    padding-top: 0;
  }
  .title .right .correction {
    position: absolute;
    top: 0;
    overflow: hidden;
  }
  .main-sub01 .sub01 .right .same {
    padding-top: 5px;
    line-height: 1.5;
  }
  .main-sub02 .sub02 .same {
    line-height: 1.5;
    padding: 10px 0;
  }
  .main-grafen h2 {
    font-size: 44px;
  }
  .main-kahi .kahi {
    flex-direction: column;
  }
  .main-grafen .grafen,
  .main-uriage .uriage {
    flex-direction: column-reverse;
    width: fit-content;
  }
  .main-grafen .grafen .work_right {
    background: fixed url(./images/works_01.jpg) no-repeat 50% / cover;
    width: 88vw;
    height: 88vw;
  }
  .main-kahi .kahi .work_left {
    background: fixed url(./images/works_02.png) no-repeat 50% / cover;
    width: 88vw;
    height: 88vw;
  }
  .main-uriage .uriage .work_right {
    background: fixed url(./images/works_03.jpg) no-repeat 50% / cover;
    width: 88vw;
    height: 88vw;
  }
  .main-grafen .grafen .work_left,
  .main-kahi .kahi .work_right,
  .main-uriage .uriage .work_left {
    width: 100%;
    padding: 20px 0;
  }
  .main-grafen .grafen .work_left h5,
  .main-kahi .kahi .work_right h5,
  .main-uriage .uriage .work_left h5 {
    padding-bottom: 10%;
  }
  .main-product {
    padding: 5vw 5vw 0;
  }
  .main-product .box img {
    width: 88vw;
    height: 120vw;
  }
  .main-product .box .correction {
    top: -120vw;
  }
  .main-product .product .box h2 {
    font-size: 24px;
  }
  .main-product .product .box p {
    font-size: 14px;
    padding-top: 15px;
  }
  .main-product .product .box p span {
    font-size: 16px;
    padding-top: 15px;
  }
  .main-product .product .img_box01,
  .img_box02,
  .img_box03,
  .img_box04 {
    padding-bottom: 30px;
  }
  .location {
    padding: 0 5vw 5vw;
  }
  #map {
    height: 300px;
  }
  footer {
    flex-direction: column;
    font-size: 12px;
  }
  footer .information {
    padding-bottom: 50px;
  }
  footer .daeun {
    width: 100%;
    font-size: 14px;
  }
}
