@charset "utf-8";

/* font-family: 'Pretendard', san-serif; --kr-txt-font */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

/* font-family: 'Roboto Mono', monospace; --en-menu-font */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap");

/* font-family: 'Poppins', sans-serif; --en-txt-font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

:root {
  --kr-txt-font: "pretendard", -apple-system, BlinkMacSystemFont,
    "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;

  --en-menu-font: "Roboto Mono", monospace;

  --en-txt-font: "Poppins", sans-serif;

  /* 컬러 */
  --txt-color: #171717;
  --txt-sub-color: #888888;
  --point-color: #159895;
  /* 폰트 사이즈 */
  /* --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-32: 2rem;
  --font-size-46: 2.875rem;
  --font-size-50: 3.125rem;
  --font-size-128: 8rem;
  --font-size-230: 14.375rem;
  --main-size-250: 15.625rem; */
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-32: 32px;
  --font-size-46: 46px;
  --font-size-50: 50px;
  --font-size-128: 128px;
  --font-size-230: 230px;
  --main-size-250: 250px;
}

/* 글씨 옆으로 흘러가는거 */
@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(calc(-100% - 10vw));
  }
}
@keyframes horizontal {
  0%,
  100% {
    transform: translate(0, 0) rotate(-50deg);
  }
  50% {
    transform: translate(35px, -35px) rotate(-50deg);
  }
  50.001% {
    transform: translate(-35px, 35px) rotate(-50deg);
  }
  /* 75% {
    transform: translate(30px, -30px) rotate(-50deg);
    opacity: 0;
  } */
}

@keyframes menu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes grow {
  0% {
    width: 0;
    height: 0;
    opacity: 0;
  }
  100% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
}
@keyframes shrink {
  0% {
    width: 50px;
    height: 50px;
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
/* @keyframes menu1 {
  0%,
  100% {
    transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
}
@keyframes menu2 {
  0%,
  100% {
    transform: translate3d(0px, 100%, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
  }
} */
